.main {
    display: flex;
    justify-content: center;
}

.page {
    height: 100vh;
    background-image: url('../../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}