.text-field {
  border-radius: 62px;
  background: #131415;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);

  .text-field__label {
    color: #E7DBF4;
    font-family: Ysabeau SC;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }

  .text-field__input {
    color: #131415;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    width: 100%; /* Изменяем ширину на 100% для мобильных устройств */

   
  }

}
container {
  padding: 30px;
}
header {
  fontFamily: "Roboto";
  fontSize: 12;
  marginBottom: 10;
  textAlign: 'right';
  flexDirection: 'row';
  justifyContent: 'flex-end'
}
title{
  fontFamily: "Roboto";
  fontSize: 20;
  marginBottom: 10;
  textAlign: 'center',
}
text {
  fontFamily: "Roboto";
  fontSize: 12;
  marginBottom: 5,
}
.pdf-container {
  width: 100%; /* По умолчанию занимает всю доступную ширину родительского элемента */
  max-width: 800px; /* Опционально: ограничиваем максимальную ширину */
  height: 100%; /* По умолчанию занимает всю доступную высоту родительского элемента */
}

@media screen and (max-width: 768px) {
  .pdf-container {
    max-width: 100%; /* Для более узких экранов увеличиваем максимальную ширину */
  }
}